.about_us_area {
  padding-top: 80px;
  padding-bottom: 80px;
  @media #{$mobile_device} {
    padding-top: 50px;
  }
  h1 {
    line-height: 70px;
  }
  p {
    margin-bottom: 20px;
  }
  .thumb {
    position: relative;
    overflow: hidden;
    // margin-top: 80px;

    img {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
