.boxed-btn {
  background: $btn_bg;
  color: #fff;
  display: inline-block;
  padding: 14px 44px;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #1ec6b6;
  // width: 180px;
  text-align: center;
  color: #fff !important;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background: #ff4a52;
    color: #fff !important;
    border: 1px solid #ff4a52;
  }
  &:focus {
    outline: none;
  }
  &.large-width {
    width: 220px;
  }
}
.boxed-btn3 {
  background: $btn_bg;
  color: #fff;
  display: inline-block;
  padding: 18px 41px;
  font-family: $font1;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  @include border-radius(5px);
  text-align: center;
  text-transform: capitalize;
  @include transition(0.3s);
  cursor: pointer;
  &:hover {
    background: $btn_hover;
    color: #fff !important;
  }
  &:focus {
    outline: none;
  }
  &.large-width {
    width: 220px;
  }
}
.boxed-btn4 {
  background: $btn_bg;
  color: #fff;
  display: inline-block;
  padding: 13px 39px;
  font-family: $font1;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  @include border-radius(5px);
  text-align: center;
  text-transform: capitalize;
  @include transition(0.3s);
  cursor: pointer;
  &:hover {
    background: $btn_hover;
    color: #fff !important;
  }
  &:focus {
    outline: none;
  }
  &.large-width {
    width: 220px;
  }
}
