.footer {
  background-repeat: no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: $heading-color;
  position: relative;
  z-index: 1000;
  h4 {
    margin: 20px 0 10px;
    color: $white_color;
  }
  .footer_top {
    padding-top: 50px;
    padding-bottom: 50px;
    @media #{$mobile_device} {
      padding-top: 60px;
      padding-bottom: 30px;
    }
    .footer_widget {
      @media #{$mobile_device} {
        margin-bottom: 30px;
      }
      @media #{$tablet_device} {
        margin-bottom: 30px;
      }
      .links {
        position: relative;
        top: -14px;
        &.double_links {
          li {
            width: 50%;
            float: left;
          }
        }
      }
      .footer_title {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 45px;
        font-family: $font2;
        @media #{$mobile_device} {
          margin-bottom: 20px;
        }
      }
      .footer_logo {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 10px;
        @media #{$mobile_device} {
          margin-bottom: 20px;
        }
        img {
          width: 100%;
          max-width: 324px;
        }
      }
      p {
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 26px;
        color: $gray-color2;
        a {
          color: #aab1b7;
          &:hover {
            color: $btn-bg;
          }
        }
      }
      p.footer_text {
        font-size: 16px;
        color: $gray-color2;
        margin-bottom: 23px;
        font-weight: 400;
        line-height: 26px;
      }
      ul {
        li {
          color: $gray-color2;
          line-height: 36px;
          display: inline-block;
          a {
            color: #aab1b7;
            font-weight: 400;
            font-family: $font2;
            &:hover {
              color: $btn-bg;
            }
          }
        }
      }
    }
  }
  .copy-right_text {
    padding-bottom: 26px;
    .footer_border {
      border-top: 1px solid #fff;
      padding-bottom: 26px;
    }
    .copy_right {
      font-size: 14px;
      color: #ccc;
      margin-bottom: 0;
      font-weight: 400;
      @media #{$mobile_device} {
        font-size: 14px;
      }
      a {
        color: $btn-bg;
      }
    }
  }
  .socail_links {
    margin-top: 10px;
    @media #{$mobile_device} {
      margin-top: 30px;
    }
    ul {
      li {
        display: inline-block;

        a {
          font-size: 20px;
          color: #c3b2f0;
          width: 30px;
          // height: 40px;
          display: inline-block;
          text-align: center;
          background: transparent;
          // @include border-radius(50%);
          // line-height: 40px !important;
          margin-right: 7px;
          color: #ffffff;
          line-height: 40px !important;
          // border: 1px solid #E8E8E8;
          color: #e8e8e8;
          &:hover {
            color: $btn-bg;
            border-color: transparent;
          }
        }
      }
    }
  }
  #movetop {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 36px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    color: #999;
    background: #f7f7f7;
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    -o-border-image: initial;
    border-image: initial;
    outline: none;
    padding: 0px;
    border-radius: 4px;
    transition: all 0.5s ease-out 0s;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  #callnowbutton {
    display: block;
    position: fixed;
    text-decoration: none;
    z-index: 2147483647;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border-top: 1px solid $theme-color;
    bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transform: scale(0.8);
    left: 18px;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgNjAgNjAiPjxwYXRoIGQ9Ik03LjEwNCAxNC4wMzJsMTUuNTg2IDEuOTg0YzAgMC0wLjAxOSAwLjUgMCAwLjk1M2MwLjAyOSAwLjc1Ni0wLjI2IDEuNTM0LTAuODA5IDIuMSBsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDE2LjUgMTcuNCAxOS44IDE5LjhsMTYuODEzIDEuMTQxYzAgMCAwIDAuNCAwIDEuMSBjLTAuMDAyIDAuNDc5LTAuMTc2IDAuOTUzLTAuNTQ5IDEuMzI3bC02LjUwNCA2LjUwNWMwIDAtMTEuMjYxIDAuOTg4LTI1LjkyNS0xMy42NzRDNi4xMTcgMjUuMyA3LjEgMTQgNy4xIDE0IiBmaWxsPSIjYzY2ZDBjIi8+PHBhdGggZD0iTTcuMTA0IDEzLjAzMmw2LjUwNC02LjUwNWMwLjg5Ni0wLjg5NSAyLjMzNC0wLjY3OCAzLjEgMC4zNWw1LjU2MyA3LjggYzAuNzM4IDEgMC41IDIuNTMxLTAuMzYgMy40MjZsLTQuNzQgNC43NDJjMi4zNjEgMy4zIDUuMyA2LjkgOS4xIDEwLjY5OWMzLjg0MiAzLjggNy40IDYuNyAxMC43IDkuMSBsNC43NC00Ljc0MmMwLjg5Ny0wLjg5NSAyLjQ3MS0xLjAyNiAzLjQ5OC0wLjI4OWw3LjY0NiA1LjQ1NWMxLjAyNSAwLjcgMS4zIDIuMiAwLjQgMy4xMDVsLTYuNTA0IDYuNSBjMCAwLTExLjI2MiAwLjk4OC0yNS45MjUtMTMuNjc0QzYuMTE3IDI0LjMgNy4xIDEzIDcuMSAxMyIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==)
      center/50px 50px no-repeat $theme-color;
  }
}
