.header-area {
  // position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 148px;
  top: 0;
  z-index: 9;
  position: relative;
  // border-bottom: 1px solid rgba(255,255,255,.20);
  // padding-top: 28px;
  @media #{$mobile_device} {
    padding-top: 0;
    height: 112px;
  }
  @media #{$tablet_device} {
    padding-top: 0;
    height: 112px;
  }
  .top-header-area {
    background: #000;
    color: #fff;
    padding: 5px 30px;

    @media #{$medium_device} {
      padding: 5px 0px;
    }

    a {
      color: #fff;
      &:hover {
        color: $font_hover;
      }
    }
    span {
      margin-left: 20px;
    }
  }
  .main-header-area {
    // padding: 18px 0;
    background: $heading-color;

    // background: transparent;
    &.details_nav_bg {
      background: #727272;
      padding-bottom: 0;
      @media #{$mobile_device} {
        padding-bottom: 10px;
      }
    }
    &.details_nav {
      background: #001d38;
    }
    padding: 5px 5px;
    // @media #{$mobile_device} {
    //   padding: 10px 10px;
    // }
    // @media #{$tablet_device} {
    //   padding: 10px 10px;
    // }
    // @media #{$mid_device} {
    //   padding: 10px 10px;
    // }
    // @media #{$large_device} {
    //   padding: 10px 10px;
    // }

    .logo-img {
      text-align: center;
      @media #{$mobile_device} {
        // padding-left: 20px;
        text-align: left;
      }
      @media #{$tablet_device} {
        // padding-left: 20px;
        text-align: left;
      }
      @media #{$mid_device} {
        // padding-left: 20px;
        text-align: left;
      }
      img {
        @media #{$mobile_device} {
          // padding-left: 20px;
          width: 70px;
        }
        @media #{$tablet_device} {
          // padding-left: 20px;
          width: 70px;
        }
      }
    }

    .main-menu {
      padding: 12px 0;
      position: relative;
      ul {
        li {
          display: inline-block;
          position: relative;
          margin: 0 25px 0 0;
          @media #{$mid_device} {
            margin-right: 15px;
          }
          // @media #{$large_device} {
          //     margin-right: 15px;
          // }
          a {
            color: #fff;
            font-size: 15px;
            font-weight: bold;
            display: inline-block;
            padding: 0px 0px 0px 0px;
            font-family: $font4;
            position: relative;
            text-transform: uppercase;
            &:hover {
              color: $font_hover;
            }
            @media #{$mid_device} {
              // padding: 41px 0px 10px 0px;
              font-size: 15px;
            }
            @media #{$large_device} {
              // padding: 41px 0px 10px 0px;
              font-size: 15px;
            }
            i {
              font-size: 9px;
              margin-left: 5px;
              @media #{$mobile_device} {
                display: none !important;
              }
              @media #{$tablet_device} {
                display: none !important;
              }
            }

            &:hover {
              // color: #FF4A52;
            }
          }
          .submenu {
            position: absolute;
            left: 0;
            top: 100%;
            background: #fff;
            width: 200px;
            z-index: 2;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
            opacity: 0;
            visibility: hidden;
            text-align: left;
            border-top: 3px solid $font_hover;
            @include transition(0.1s);
            li {
              display: block;
              a {
                color: #000;
                padding: 10px 15px;
                position: inherit;
                // @include transition(.1s);
                display: block;
                font-size: 14px;
                &::before {
                  display: none;
                }
                &:hover {
                  color: $font_hover;
                }
              }
              // &:hover a{
              //     color: #000;
              // }
            }
          }
          &:hover > .submenu {
            opacity: 1;
            visibility: visible;
            top: 100%;
          }
          &:hover > a::before {
            opacity: 1;
            transform: scaleX(1);
          }
          &:first-child a {
            padding-left: 0;
          }
        }
      }
    }
    &.sticky {
      box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
      position: fixed;
      width: 100%;
      top: -70px;
      left: 0;
      right: 0;
      z-index: 990;
      transform: translateY(70px);
      // transition: transform 500ms ease, background 500ms ease;
      // -webkit-transition: transform 500ms ease, background 500ms ease;
      // box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
      // padding: 10px 150px;
      // background: rgba(255, 255, 255, 0.96);
      // padding-bottom: 0;
      @media #{$mobile_device} {
        // padding: 10px 5px;
      }
      @media #{$tablet_device} {
        // padding: 10px 10px;
      }
      @media #{$mid_device} {
        // padding: 10px 5px;
      }
      @media #{$large_device} {
        // padding: 10px 5px;
      }
      .main-menu {
        padding: 0;
      }
      .header_bottom_border {
        border-bottom: none;
      }
      .header_bottom_border.white_border {
        border-bottom: none !important;
      }
      // ul{
      //     li{
      //         a{
      //             &::before {
      //                 position: absolute;
      //                 content: "";
      //                 background: #FF4A52;
      //                 width: 100%;
      //                 height: 3px;
      //                 bottom: -27px;
      //                 left: 0;
      //                 opacity: 0;
      //                 transform: scaleX(0);
      //                 @include transition(.3s);
      //             }
      //         }
      //     }
      // }
    }
  }
  .social_wrap {
    // @media #{$mid_device} {
    //   margin-right: 100px;
    // }
    // @media #{$large_device} {
    //   margin-right: 55px;
    // }
    .social_links {
      margin-right: 4px;

      li {
        display: inline-block;
        a {
          display: inline-block;
          color: #aab1b7;
          font-size: 18px;
          margin: 0 11px;
          &:hover {
            color: $font_hover;
          }
        }
      }
    }
    .number {
      margin-right: 20px;
      padding-right: 20px;
      border-right: 1px solid #eaeaea;
      @media #{$large_device} {
        margin-right: 0;
        padding-right: 10px;
      }
      @media #{$tablet_device} {
        border-right: 1px solid transparent;
      }
      @media #{$mid_device} {
        border-right: 1px solid transparent;
      }
      p {
        font-size: 16px;
        color: #040e27;
        margin-bottom: 0;
        font-weight: 400;
        @media #{$large_device} {
          font-size: 14px;
        }

        i {
          color: #ff4a52;
          font-size: 16px;
          margin-right: 5px;
        }
      }
    }
  }
}
