.instructors_page {
  padding-top: 80px;
  padding-bottom: 80px;
  p {
    margin-bottom: 15px;
  }

  img {
    max-width: 400px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    @media #{$mobile_device} {
      max-width: 500px;
    }
  }
  h1 {
    margin-bottom: 40px;

    @media #{$mobile_device} {
      font-size: 25px;
    }
  }
  .single_place {
    margin-bottom: 20px;
    .thumb {
      position: relative;
      overflow: hidden;
      img {
        width: 60%;
        margin: 0 auto;
      }
    }
    .instructor_info {
      h3 {
        font-size: 22px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
        text-transform: capitalize;
      }
      p {
        text-align: center;
        font-weight: 400;
        color: $gray-color3;
        margin-top: 2px;
        margin-bottom: 7px;
        strong {
          font-weight: 500;
        }
      }
      li {
        list-style-type: circle;
        margin-left: 30px;
        color: $gray-color3;
      }
    }
  }
}
