.instructors_area {
  background-image: url(../img/banner/back03.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  padding-top: 80px;
  padding-bottom: 80px;
  @media #{$mobile_device} {
    padding-top: 50px;
  }
  .single_place {
    .thumb {
      position: relative;
      overflow: hidden;
      img {
        width: 70%;
        margin: 0 auto;
      }
    }
    .instructor_info {
      h3 {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
        @include transition(0.3s);
      }
      p {
        text-align: center;
        font-weight: 400;
        color: $gray-color3;
        margin-top: 2px;
        margin-bottom: 7px;
        strong {
          font-weight: 500;
        }
      }
      li {
        list-style-type: circle;
        margin-left: 30px;
        color: $gray-color3;
      }
    }
  }
  .owl-carousel .owl-nav div {
    font-size: 20px;
    color: #fff;
    border: 0;
    &.owl-prev {
      left: -15px;
      right: auto;
    }

    &.owl-next {
      right: -15px;
      left: auto;
    }
    &:hover {
      color: $btn_hover;
      background: none;
      border: none;
    }
  }
  .more_place_btn {
    margin-top: 40px;
  }
}

.instructors_page {
  padding-top: 80px;
  padding-bottom: 80px;
  @media #{$mobile_device} {
    padding-top: 50px;
  }
  p {
    margin-bottom: 15px;
    img {
      margin: 5px 10px;
    }
  }

  h1 {
    margin-bottom: 40px;

    @media #{$mobile_device} {
      font-size: 25px;
    }
  }

  hr {
    margin: 40px 0;
  }

  .ithumb img {
    max-width: 400px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    @media #{$mobile_device} {
      max-width: 500px;
    }
  }

  .single_place {
    margin-bottom: 20px;
    .thumb {
      position: relative;
      overflow: hidden;
      img {
        width: 60%;
        margin: 0 auto;
      }
    }
    .instructor_info {
      h3 {
        font-size: 22px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 0;
        text-align: center;
        text-transform: capitalize;
      }
      p {
        text-align: center;
        font-weight: 400;
        color: $gray-color3;
        margin-top: 2px;
        margin-bottom: 7px;
        strong {
          font-weight: 500;
        }
      }
      li {
        list-style-type: circle;
        margin-left: 30px;
        color: $gray-color3;
      }
    }
  }
}
