.school_places_area {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f7fafd;
  @media #{$mobile_device} {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .single_place {
    .thumb {
      position: relative;
      overflow: hidden;
    }
    .place_info {
      padding: 27px 15px 25px 15px;
      img {
        display: block;
        margin: 0 auto 20px;
        width: 70px;
      }
      h3 {
        font-size: 22px;
        font-weight: 400;
        color: #040e27;
        margin-bottom: 10px;
        @include transition(0.3s);
        text-align: center;
      }
      p {
        font-size: 0.9rem;
        font-weight: 400;
        color: #7a838b;
        margin-top: 2px;
        margin-bottom: 7px;
        line-height: 23px;
      }
      li {
        font-size: 0.9rem;
        list-style-type: circle;
        margin-left: 20px;
        color: #7a838b;
      }
    }
  }
  .more_place_btn {
    margin-top: 40px;
  }
}
