@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

// fonts
$font1: "Rubik", sans-serif;
$font2: "Rubik", sans-serif;
$font3: "Nothing You Could Do", cursive;
$font4: "Open Sans", sans-serif;
// fonts-size

$heading-color: #3c0003;
$heading_color2: #0d0d0d;
$heading_color3: #a4bfb8;
$heading_color4: #f23839;

$theme-color: #3c0003;
$theme-color2: #ff6464;

$gray-color2: #ccc;
$gray-color3: #51645e;
$white_color: #fff;

$font_1: #666666;
$font_2: #646464;
$font_3: #7f7f7f;
$font_4: #8a8a8a;
$font_5: #999999;
$font_6: #666666;
$font_7: #5c5c5c;
$font_link: #3c0003;
$font_hover: #f23839;
$border_color: #fdcb9e;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;

$medium_device: "only screen and (min-width: 992px) and (max-width: 1200px)";
$tab_device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large_mobile: "only screen and (min-width: 576px) and (max-width: 767px)";
$tab: "(max-width: 991px)";
$small_mobile: "(max-width: 576px)";
$xs_mobile: "(max-width: 420px)";
$sm_mobile: "only screen and (min-width: 421px) and (max-width: 575px)";
$big_screen: "only screen and (min-width: 1200px) and (max-width: 1440px)";
$extra_big_screen: "only screen and (min-width: 1200px) and (max-width: 3640px)";

// ,,,,,,,,,,,
$btn_bg: #f23839;
$btn_hover: #a4bfb8;
$section_bg: #f7f7f7;
$section_bg_1: #454545;
