@import "varriable.scss";
@import "mixins.scss";
@import "extend";
@import "responsive.scss";
@import "theme-default.scss";
@import "btn";
@import "section_title";
@import "slick-nav.scss";

// header
@import "header";

// slider
@import "slider";

// about
@import "about";

// counter
@import "counter";
// counter
@import "team";
// testmonial
@import "testmonial";
// instructors
@import "instructors";

// about
@import "footer";

@import "bradcam";

@import "service";

@import "about_us";

@import "instruments";

@import "school_features";

@import "school_area";

@import "imap";

// other pages default

// contact
@import "contact";

// elements
@import "elements.scss";

// blog
@import "blog";

// blog part
@import "blog_part";
